.carousel{
    padding:0 40px;
}
.imgtop{
    z-index: 200;
    width:210px;
    height:100px;
    position: absolute;
    text-align: center;
    line-height:100px;
    top: 0%;
    background-color:rgba(110, 171, 231, 0.3);
    color: #fff;
    font-size: 25px;
}
.imgbottom{
    z-index: 100;
    width:210px;
    height:100px;
    position: relative;
}
.prev{
    top: 70px;
    right: 15px;
    z-index: 1000;
}
.next{
    left: 15px;
    top: 70px;
    right: 10px;
    z-index: 1000;
    float: right;
}
